* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#content {
  height: 100vh;
  background-image: radial-gradient(rgb(0, 156, 2), rgb(2, 105, 3));
}

#content > div,
#content > button {
  position: absolute;
}

#title {
  position: absolute;
  top: -2vh;
  left: 1vw;
  height: 30vh;
}

button {
  height: 10vh;
  width: 10vw;
}

#buttons {
  bottom: 5vh;
  left: 37vw;
}

#dealer {
  top: 10vh;
  left: 42vw;
  height: 30vh;
  width: 20vh;
  outline: yellow ridge 5px;
}

#player {
  bottom: 20vh;
  left: 42vw;
  height: 30vh;
  width: 20vh;
  outline: white ridge 5px;
}


#start {
  left: 10vw;
  top: 50vh;
  z-index: 10;
}
#reset {
  left: 10vw;
  top: 62vh;
  z-index: 10;
}

#deck {
  top: 35vh;
  right: 10vw;
  height: 30vh;
  width: 10vw;
  outline: lightgrey ridge 5px;
  background-color: aliceblue;
  padding-top: 10vh;
  font-size: 48px;
  text-align: center;
}

#dealer > div,
#player > div {
  position: absolute;
  height: 30vh;
  width: 20vh;
  background-color: aliceblue;
  outline: gray solid 5px;
  padding-top: 10vh;
  font-size: 48px;
  text-align: center;
}

#dealer > div:first-child {
  position: absolute;
  left: 10vw;
  height: 30vh;
  width: 10vw;
  background-color: aliceblue;
}

#endresult{
  display: none;
  text-align: center;
  padding-top: 3.5%;
  position: absolute;
  left: 65vw;
  top: 10vh;
  height: 20vh;
  width: 25vw;
  background-color:aliceblue;
  outline:red ridge 10px;
}

img[src = "shh.png"]
{
  width: 100%;
}

#ASelection{
  position: absolute;
  left: 30vw;
  top: 20vh;
  background-color: aliceblue;
  padding: 2%;
  outline: red ridge 10px;
}